<div class="user-id">
  <%= form_with method: :get do |f| %>
    <%= "User ID: " %>
    <%= f.text_field :user_id %>
    <%= f.submit %>
  <% end %>
</div>


<% @photos.each do |photo| %>
  <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %><br>
<% end %>